%h1.fa.fa-bar-chart-o.fa-3x  Editar Ingresso

= render 'form'
%br
= link_to 'Show', @ingresso,:class => 'btn btn-warning btn-sm'
\|
= link_to 'Back', ingressos_path,:class => 'btn btn-warning btn-sm'
