%p#notice= notice

%p
  %b Tipo:
  = @ingresso.tipo

= link_to 'Edit', edit_ingresso_path(@ingresso),:class => 'btn btn-warning btn-sm'
\|
= link_to 'Back', ingressos_path,:class => 'btn btn-warning btn-sm'
