%h1.fa.fa-edit.fa-3x Editar Período Literário

= render 'form'
%br
= link_to 'Show', @periodo_literario,:class => 'btn btn-warning btn-sm'
\|
= link_to 'Back', periodo_literarios_path,:class => 'btn btn-warning btn-sm'
