%h1.fa.fa-qrcode.fa-3x Editar Período de Exposição

= render 'form'
%br
= link_to 'Show', @periodo_exposicao,:class => 'btn btn-warning btn-sm'
\|
= link_to 'Back', periodo_exposicoes_path,:class => 'btn btn-warning btn-sm'
